.App {
  text-align: center;
  margin: auto;
  width: 50%;
}

.stepper{
  display: flex;
  justify-content: space-between;
}

.step-number{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
  margin: auto;
}

.active .step-number{
  background-color: #007bff ;
  color:#fff;
}
.complete .step-number{
  background-color: #28a745;
  color: #fff;
}

.details-wrapper{
  display: flex;
}

.link{
  color: white;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
